@import '../../styles/settings.scss';

.projects {
  margin-top: 30px;
  display: flex;
  align-items: center;
  height: 70vh;
}

.leftColumn {
  flex: 40%;
  overflow-y: scroll; // Allow overflow to be visible
  height: 100%;

  /* Stylizacja paska przewijania */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #bdbdbd;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(1, 58, 97);
    border-radius: 20px;
    border: 2px solid #a8a8a8;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 47, 78);
    border-radius: 20px;
  }
}

.rightColumn {
  flex: 53%;
  margin: 0 20px 0 45px;
  box-shadow: 0 0 15px $text-secondary-color;
  border-radius: 20px;
}
