@import '../../styles/settings.scss';

.achivments {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 100px;
  width: 100%;
  position: relative;
  @include extra-large-screens {
    padding: 15px 50px;
  }
  @include medium-screens {
    display: inline-block;
    padding: 10px;
  }
}

.achivments:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $text-secondary-color;
  opacity: 0.5;
}

.achivment {
  max-width: 30%;
  text-align: center;
  margin: 10px;
  padding: 30px;
  margin: 0;
  @include extra-large-screens {
    max-width: 45%;
    padding: 15px;
  }
  @include medium-screens {
    max-width: 80%;
    margin: 50px auto;
    padding: 0;
  }

  .achivmentIcon {
    font-size: 60px;
    @include small-screens {
      font-size: 50px;
    }
  }

  h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 24px;
    margin: 20px 0 10px;
    @include small-screens {
      margin: 10px 0 5px;
    }
  }

  p {
    margin: 0;
    font-size: 18px;
    @include small-screens {
      font-size: 18px;
    }
  }
}
