@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

// COLORS 

$dark-color: rgb(0, 0, 0);
$text-color: rgb(255, 255, 255);
$text-secondary-color: rgb(0, 156, 228);
$third-color: rgb(207, 4, 4);
$buttons-color: rgb(1, 190, 134);


// FONTS 

$content-font: 'Lato', sans-serif;
$header-font: 'Roboto', sans-serif;
$content-font-size: 24px;
$header-font-size: 32px;


// OTHERS 

$radious: 15px;