@import '../../styles/settings.scss';


.content {

 display: flex;
 @include extra-large-screens {
   flex-direction: column-reverse;
 }
}

.description {
  font-size: $content-font-size * 0.95;
  padding: 20px;
  width: 45%;
  @include extra-large-screens {
    text-align: center;
    margin: 0 20px;
    width: auto;
  }
  @include small-screens {
    font-size: $content-font-size * 0.9;
    margin: 0 10px;
    padding: 5px;
  }

  p {
    margin: 0 0 20px;
  }
}
