@import '../../styles/settings.scss';

.splash {
  background-image: url('https://i.postimg.cc/xTvcwVKz/splashbackground-two.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.content {
  display: flex;
  justify-content: space-around;
  margin: 50px 100px 90px;
}

.description {
  font-size: 40px;
  margin-right: 80px;
  padding-right: 50px;
  text-align: left;

  p {
    margin: 10px 0 10px;
  }

  p:nth-child(1) {
    font-size: $content-font-size * 2;
    margin-bottom: 0px;

    span {
      letter-spacing: 10px;
    }
  }

  p:nth-child(2) {
    color: $text-secondary-color;
    font-size: $content-font-size * 3;
    margin-top: 0px;
    font-weight: bold;
  }

  p:nth-child(3) {
    font-weight: bold;
    font-size: $content-font-size * 1.75;
    margin-top: 40px;
  }

  p:nth-child(4) {
    font-size: $content-font-size;
    margin-bottom: 40px;
  }

  a {
    color: $buttons-color;
    text-decoration: none;
    border: 3px solid $buttons-color;
    padding: 10px 20px;
    border-radius: $radious;
    transition: all 0.25s;
    &:hover {
      background: linear-gradient(to bottom right, $text-secondary-color, rgb(0, 33, 63));
      border: 3px solid $text-secondary-color;
      box-shadow: 0px 0px 20px $text-secondary-color;
      color: $text-color;
    }
  }
}

img {
  height: 700px;
  margin-left: 70px;
  padding-left: 40px;
}