@import '../../styles/settings.scss';

.splash {
  background-image: url('../../assets/HomePhotos/splashPhoto1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  @include extra-large-screens {
    background-color: black;
    background-image: none;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  max-width: 1200px;
  margin: 0 auto;
  @include extra-large-screens {
    justify-content: space-around;
    padding: 40px 60px;
    max-width: 1000px;
  }
  @include large-screens {
    display: block;
    text-align: center;
    padding: 0px;
  }
}

.description {
  text-align: left;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include large-screens {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 0 30px;
    height: auto;
  }
  @include small-screens {
    padding: 0 10px;
  }

  p {
    margin: 10px 0;
  }

  p:nth-child(1) {
    font-size: $content-font-size * 2;
    margin-bottom: 0px;
    margin-top: 0;

    @include small-screens {
      font-size: $content-font-size * 1.5;
    }

    span {
      letter-spacing: 10px;
      @include small-screens {
        letter-spacing: 6px;
      }
    }
  }

  p:nth-child(2) {
    color: $text-secondary-color;
    font-size: $content-font-size * 2.5;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: bold;
    @include small-screens {
      font-size: $content-font-size * 1.9;
    }
  }

  p:nth-child(3) {
    font-weight: bold;
    font-size: $content-font-size * 1.75;
    @include extra-large-screens {
      margin-bottom: 20px;
    }
    @include small-screens {
      font-size: $content-font-size * 1.5;
      margin: 0 0 20px;

    }
  }

  p:nth-child(4) {
    margin-bottom: 20px;
    @include extra-large-screens {
      display: none;
    }
  }

  a {
    color: $buttons-color;
    text-decoration: none;
    border: 3px solid $buttons-color;
    padding: 10px;
    border-radius: $radious;
    transition: all 0.25s;
    font-size: $content-font-size * 1.5;
    display: inline;
    text-align: center;
    width: 35%;
    @include extra-large-screens {
      width: 70%;
    }
    &:hover {
      background: linear-gradient(to bottom right, $text-secondary-color, rgb(0, 33, 63));
      border: 3px solid $text-secondary-color;
      box-shadow: 0px 0px 20px $text-secondary-color;
      color: $text-color;
    }
  }
}

img {
  height: 500px;
  margin-right: 50px;
  @include large-screens {
    height: 400px;
    margin: 10px 0 0;
    padding: 0;
  }
  @include small-screens {
    height: 350px;
  }
  @include tiny-screens {
    height: 300px;
  }
}