@import '../../styles/settings.scss';

.splash {
  background-image: url('../../assets/HomePhotos/splashPhoto1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  @include medium-screens {
    background-attachment: scroll;
    background-image: url('../../assets/HomePhotos/splashPhoto3.jpg');
  }
}

.splash:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.85;
  z-index: 0;

  @include medium-screens {
    opacity: 0.875;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 50px;
  max-width: 1200px;
  margin: 0 auto;
  @include extra-large-screens {
    justify-content: space-around;
    padding: 40px 60px;
    max-width: 1000px;
  }
  @include large-screens {
    display: block;
    text-align: center;
    padding: 0px;
  }
}

.description {
  text-align: left;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include large-screens {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 30px;
    height: auto;
  }
  @include small-screens {
    padding: 0 10px;
  }

  p {
    margin: 10px 0;
  }

  p:nth-child(1) {
    font-size: $content-font-size * 2;
    margin-bottom: 0px;
    margin-top: 0;

    @include small-screens {
      font-size: $content-font-size * 1.5;
      text-align: center;
    }

    span {
      letter-spacing: 10px;
      @include small-screens {
        letter-spacing: 6px;
      }
    }
  }

  p:nth-child(2) {
    color: $text-secondary-color;
    font-size: $content-font-size * 2.5;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.3;
    @include small-screens {
      font-size: $content-font-size * 1.9;
    }
  }

  p:nth-child(3) {
    font-weight: bold;
    font-size: $content-font-size * 1.75;
    line-height: 1.2;
    @include small-screens {
      font-size: $content-font-size * 1.5;
    }
  }

  p:nth-child(4) {
    margin-bottom: 20px;
    @include extra-large-screens {
      display: none;
    }
  }

  a {
    @include button(55px, 28px);
    margin-top: 15px;
  }
}

img {
  height: 500px;
  margin: 0 50px 0 20px;
  @include large-screens {
    height: 400px;
    margin: 10px 0 0;
    padding: 0;
  }
  @include small-screens {
    height: 350px;
  }
  @include tiny-screens {
    height: 300px;
  }
}
