@import '../../styles/settings.scss';

.button {
  color: $buttons-color;
  text-decoration: none;
  border: 3px solid $buttons-color;
  padding: 10px 20px;
  border-radius: $radious;
  font-size: $content-font-size * 1.5;
  margin: 50px 40px 30px;
  display: inline-block;
  transition: all 0.25s;
  &:hover {
    color: $text-color;
    background-color: $text-secondary-color;
    border: none;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  @include extra-large-screens {
    flex-direction: column;
    align-items: center;
  }
}

.contactForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  background-color: rgb(5, 157, 228, 0.05);
  border-radius: 20%;
  margin: 20px 10px;
  padding: 20px;
  @include extra-large-screens {
    margin: 0 0 10px;
    width: 70%;
    border-radius: 10%;
    padding: 30px;
  }
  @include medium-screens {
    width: 90%;
    border-radius: 5%;
  }
  @include small-screens {
    width: 100%;
    background-color: inherit;
  }


  h4 {
    font-size: $header-font-size * 0.8;
    margin: 10px;
    text-align: center;
    @include small-screens {
      display: none;
    }

    span {
      color:  $text-secondary-color;
    }
  }

  .row {
    display: flex;
    gap: 20px; 
    justify-content: space-between;
    @include large-screens {
      flex-direction: column;
    }
  }

  .formGroup {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 5px;
      color: $third-color;
    }

    .input, .textarea {
      padding: 10px;
      border: 4px solid $text-secondary-color;
      border-radius: 15px;
      font-size: $content-font-size;
      background: inherit;


      &:focus {
        outline: none;
        border: 4px solid $third-color;
        box-shadow:  0px 0px 10px $third-color;
      }
    }

    .textarea {
      height: 175px;
    }
  }

  .sendButton {
    text-align: center;
    width: 50%;
    margin: 50px auto;
    @include large-screens {
      width: 80%;
      margin: 40px auto;
    }
    @include medium-screens {
      font-size: $content-font-size * 1.2;
      margin: 20px auto;
    }
    &:hover {
      background: linear-gradient(to bottom right, rgb(0, 216, 0), rgb(0, 54, 0));
      border: 3px solid rgb(0, 216, 0);
      box-shadow: 0px 0px 20px rgb(0, 216, 0);
      color: $text-color;
    }
  }
}

.contactOptions {
  flex: 1;
  text-align: center;
  margin: 20px 10px;
  background-color: rgb(199, 199, 199, 0.05);
  border-radius: 20%;
  padding: 20px;
  @include extra-large-screens {
    margin: 10px 0 0;
    width: 70%;
    border-radius: 10%;
    padding: 30px;
  }
  @include medium-screens {
    width: 90%;
    border-radius: 5%;
  }
  @include small-screens {
    width: 100%;
    background-color: inherit;
  }

  h4 {
    font-size: $header-font-size * 0.8;
    margin: 10px 0 50px;
    @include small-screens {
      font-size: $header-font-size * 0.7;
      margin: 10px 0 20px;
    }

    span {
      color:  $text-secondary-color;
    }
  }

  .contactButton {
    color: $text-color;
    border: 4px solid $third-color;
    box-shadow:  0px 0px 10px $third-color;
    padding: 10px 25px;
    font-size: $content-font-size * 1.4;
    margin: 20px 14px;
    @include large-screens {
      display: block;
      width: 90%;
      margin: 20px auto;;
    }
    @include large-screens {
      display: block;
      width: 100%;
      margin: 20px auto;;
    }
    @include small-screens {
      font-size: $content-font-size * 1.1;
    }
    &:hover {
      background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(56, 56, 56));
      border: 4px solid rgb(196, 196, 196);
      box-shadow: 0px 0px 20px rgb(196, 196, 196);
      color: black;

      .icon {
        color: black;
      }
    }

    .icon {
      margin: 0 10px;
      color: $third-color;
    }
  }

  a:nth-child(4) {
    @include small-screens {
      display: none;
    }
  }

  .contactIcons {
    margin-top: 150px;
    @include extra-large-screens {
      margin: 40px auto;
    }

    .contactIcon {
      color: $text-color;
      border: 5px solid $third-color;
      border-radius: 25%;
      box-shadow:  0px 0px 10px $third-color;
      padding: 20px 30px;
      font-size: $content-font-size * 2.5;
      margin: 0px 15px;
      cursor: pointer;
      @include medium-screens {
        font-size: $content-font-size * 2;
        padding: 15px 22.5px;
        margin: 0 10px;
      }
      @include small-screens {
        font-size: $content-font-size * 1.75;
        padding: 10px 15px;
      }
      &:hover {
        background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(56, 56, 56));
        border: 5px solid rgb(196, 196, 196);
        box-shadow: 0px 0px 20px rgb(196, 196, 196);
        color: black;
      }
    }
  }
}


