@import '../../styles/settings.scss';

.contact {
  background-color: #000000;
  max-width: 1200px;
  margin: 0 auto 50px;

  .contactHeader {
    margin-left: 20px;
    color: white span {
      color: $text-secondary-color;
    }
    @include large-screens {
      display: none;
    }
  }

  .contactTypes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 20px 0;
    padding: 0;
    @include large-screens {
      margin-top: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .contactTypesButton {
      @include button(67px, 26px);
      background: none;
      width: 240px;
      text-transform: none;
      box-shadow: 0 0 15px $text-secondary-color;

      @include large-screens {
        margin: 15px 0;
        width: 280px;
      }

      &:hover {
        background: linear-gradient(
          to bottom right,
          $text-secondary-color,
          darken($text-secondary-color, 25%)
        );
      }

      &:hover .contactTypesIcon {
        animation: iconHoverAnimation 1s ease-in-out;
      }

      &:hover .contactTypesIcon {
        animation: iconHoverAnimation 1s ease-in-out;
      }
    }

    .contactTypesIcon {
      font-size: 30px;
      margin-right: 5px;
    }

    @keyframes iconHoverAnimation {
      0% {
        transform: translateY(0) rotate(0deg);
      }
      50% {
        transform: translateY(-20px) rotate(720deg);
      }
      100% {
        transform: translateY(0) rotate(0deg);
      }
    }
  }
}
