@import '../../styles/settings.scss';

.journeyItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.journeyItem {
  width: 20%;
  text-align: center;
  margin: 20px 25px;
  padding: 20px;
  background-color: rgb(5, 157, 228, 0.05);
  border-radius: 3%;
  transition: all 1s;
  
  h2 {
    color: $buttons-color;
    font-size: $content-font-size * 1.5;
    margin: 10px 0;
  }

  p {
    margin: 20px 0 40px 0;
  }

  img {
    width: 225px;
    height: 225px;
    object-fit: cover;
    margin: 10px;
    padding: 0;
    border-radius: 15%;
    background-color: black;
    box-shadow:  0px 0px 10px $text-color;
  }

  a {
    color: $buttons-color;
    text-decoration: none;
    border: 3px solid $buttons-color;
    padding: 10px 20px;
    border-radius: $radious;
    font-size: $content-font-size * 1.75;
    transition: all 0.25s;
    &:hover {
      background: linear-gradient(to bottom right, $text-secondary-color, rgb(0, 33, 63));
      border: 3px solid $text-secondary-color;
      box-shadow: 0px 0px 20px $text-secondary-color;
      color: $text-color;
    }
  }

  &:hover {
    transform: scale(1.1);
    background-color: rgb(5, 157, 228, 0.15);
  }
}