@import '../../styles/settings.scss';

.studiesImg {
  background: url('../../assets/HomePhotos/JourneyPhoto1.jpg') no-repeat;
}
.coursesImg {
  background: url('../../assets/HomePhotos/JourneyPhoto2.jpg') no-repeat;
}
.projectsImg {
  background: url('../../assets/HomePhotos/JourneyPhoto3.jpg') no-repeat;
}
.internshipImg {
  background: url('../../assets/HomePhotos/JourneyPhoto4.jpg') no-repeat;
}

.journeyItems {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @include medium-screens {
    flex-direction: column;
    align-items: center;
  }

  .journeyItem {
    width: 22%;
    height: 400px;
    perspective: 800px;
    -webkit-perspective: 800px;
    margin: 30px 5px;
    @include extra-large-screens {
      width: 45%;
    }
    @include medium-screens {
      width: 70%;
      height: 350px;
    }
    @include small-screens {
      width: 90%;
    }

    .journeyItemCard {
      position: relative;
      width: 100%;
      height: 100%;
      transition: all 1s;
      -webkit-transition: 1s;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      border-radius: 10%;
    }
  }

  .journeyItem:hover > .journeyItemCard {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

  .journeyItemCardFront {
    position: absolute;
    border-radius: 10%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 0;

    .journeyItemTitle {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 42px;
      font-weight: bold;
      color: white;
      padding: 5px;
      z-index: 1;

      @include tiny-screens {
        font-size: 36px;
      }
    }
  }

  .journeyItemCardFront:before {
    content: '';
    position: absolute;
    border-radius: 10%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 92, 153, 0.8)
    );
    z-index: 0;
  }

  .journeyItemCardBack {
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: black;
    left: 0;
    border-radius: 30px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 0 15px $text-secondary-color;
    z-index: 2;

    .journeyItemCardBackContainer {
      margin: 0 10px;
      text-align: center;
    }

    .journeyItemCardBackContent {
      margin: 0;
    }

    .journeyItemCardBackBtn {
      @include button(45px, 22px);
      margin-top: 20px;
    }
  }
}
