@import '../../styles/settings.scss';

.blogPage {background:url('https://i.postimg.cc/x8TgP6pR/Js-Blog-Page.png') no-repeat;}
.blogCode {background: url('https://i.postimg.cc/c4kx4Q1V/Jj-Blog-Code.png') no-repeat;}
.pizzeriaPage {background: url('https://i.postimg.cc/Dwy9TBkH/Pizzeria-Page.png') no-repeat;}
.pizzeriaCode {background: url('https://i.postimg.cc/2jnRF17c/pizzeria-Code.png') no-repeat;}
.ToDoPage {background: url('https://i.postimg.cc/7L5jChLN/To-Do-List-Pagepng.png') no-repeat;}
.ToDoCode {background: url('https://i.postimg.cc/sDJkqb85/To-Do-List-Code.png') no-repeat;}
.cityPage {background: url('https://i.postimg.cc/xdBhLQJV/Rzesz-w-City-Page.png') no-repeat;}
.cityCode {background: url('https://i.postimg.cc/wvmKrM8B/cityCode.png') no-repeat;}
.dragDropPage {background: url('https://i.postimg.cc/FzXtXvNV/Drag-Drop-Page.png') no-repeat;}
.dragDropCode {background: url('https://i.postimg.cc/sgGH48pY/drag-And-Drop-Code.png') no-repeat;}
.receipeBookPage {background: url('https://i.postimg.cc/x8TgP6pR/Js-Blog-Page.png') no-repeat;}
.receipeBookCode {background: url('https://i.postimg.cc/c4kx4Q1V/Jj-Blog-Code.png') no-repeat;}
.fitnessAppPage {background: url('https://i.postimg.cc/7L5jChLN/To-Do-List-Pagepng.png') no-repeat;}
.fitnessAppCode {background: url('https://i.postimg.cc/sDJkqb85/To-Do-List-Code.png') no-repeat;}
.portfolioPage {background: url('https://i.postimg.cc/6pjD5nB3/Portfolio-Page.png') no-repeat;}
.portfolioCode {background: url('https://i.postimg.cc/c4ZqDdDs/portfolio-Code.png') no-repeat;}
.nutritionAppPage {background: url('https://i.postimg.cc/Dwy9TBkH/Pizzeria-Page.png') no-repeat;}
.nutritionAppCode {background: url('https://i.postimg.cc/2jnRF17c/pizzeria-Code.png') no-repeat;}


.projectsList {
  display : flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @include medium-screens {
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 32%;
    height: 300px;
    perspective: 800px;
    -webkit-perspective: 800px;
    margin: 30px 5px;
    @include extra-large-screens {
      width: 45%;
    }
    @include medium-screens {
      width: 70%;
    }
    @include small-screens {
      width: 95%;
    }

    .projectCard {
      position:relative;
      width: 100%;
      height: 100%;
      transition: all 1s;
      -webkit-transition:1s;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      border-radius: 10%;
    }
  }

  .project:hover > .projectCard {
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
  }

  .projectCardFront {
    border-radius: 10%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h5 {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 52px;
      font-weight: bold;
      color: white;
      padding: 5px;
      @include small-screens {
        font-size: 42px;
      }
      @include tiny-screens {
        font-size: 36px;
      }
    }
  }

  .projectCardBack {
    position: absolute;
    border-radius: 10%;
    width: 100%;
    height: 100%;
    transform:rotateY(180deg);
    background-size: cover;
    -webkit-transform:rotateY(180deg);
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;

    .content {
      transform: translateY(150px);
      background-color: black;
      text-align: center;

      p {
        margin-bottom: 0;
        font-size: $content-font-size * 1.1;
        word-spacing: 10px;
      }

      .links {
        display: flex;
        justify-content: space-between;
      }

      a {
        color: $text-secondary-color;
        font-size: 32px;
        padding: 0px 40px 5px;
        transition: 0.5s;

        &:hover {
          transform: translateY(-25%);
          color: $buttons-color;
        }
      }
    }
  }
}

